<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      BET21
    </ion-title>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-button expand="block" size="small" color="secondary">LOGIN</ion-button>
    <ion-button expand="block" size="small" color="tertiary">REGISTER</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <ion-header collapse="condense">
    <ion-toolbar>
      <!-- <ion-button expand="block" size="medium" color="secondary">LOGIN</ion-button>
      <ion-button expand="block" size="medium" color="success">REGISTER</ion-button> -->
      <ion-title size="large" color="primary">
        BET21
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-list>
    <app-message *ngFor="let message of getMessages()" [message]="message"></app-message>
  </ion-list>
</ion-content>
